NIFTY_CLIENT_ID=lpuxRCzhf9mFOpfUuzS7xNmfNKO5pq3F
NIFTY_CLIENT_SECRET=
NIFTY_AUTHORIZE_URL=https://nifty.pm/authorize?response_type=code&client_id=lpuxRCzhf9mFOpfUuzS7xNmfNKO5pq3F&redirect_uri=http://127.0.0.1:8787/callback&scope=file,doc,message,project,task,member,time_tracking,subteam,task_group,subtask,milestone,label
NIFTY_REDIRECT_URI=http://127.0.0.1:8787/callback

# Optional
NIFTY_DEFAULT_WORKFLOW=
NIFTY_ACCESS_TOKEN=
NIFTY_REFRESH_TOKEN=
